Source: ros-indigo-pcl-1-8
Section: misc
Priority: extra
Maintainer: William Woodall <william@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), cmake, libboost-all-dev, libeigen3-dev, libflann-dev, libqhull-dev, libusb-1.0-0-dev, libvtk5-dev, python-sphinx
Homepage: http://www.pointclouds.org
Standards-Version: 3.9.2

Package: ros-indigo-pcl-1-8
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libeigen3-dev, libflann-dev, libflann1.8, libqhull-dev, libusb-1.0-0-dev, libvtk5-dev, python-sphinx, ros-indigo-catkin
Description: The Point Cloud Library (or PCL) for point cloud processing - development The PCL framework contains numerous state-of-the art algorithms including filtering, feature estimation, surface reconstruction, registration, model fitting and segmentation.
